* {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.header {
    background: #FAFAFA;
}

/* Banner Section */
.banner {
    display: flex;
    justify-content: space-between;
    padding: 100px 300px 0px 200px;
    align-items: center;
}

.header-title {
    color: #121212;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
}

.heder-description {
    color: #707070;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.btn-primary {
    text-decoration: none;
    color: #FAFAFA;
    border-radius: 5px;
    background: #FF5959;
    padding: 16px;
    margin-right: 20px;
}

.btn-watch {
    text-decoration: none;
    color: #707070;
    border: none;
    padding: 16px;
}

/* Donate Today Section */
.donate-today {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.section-title {
    color: #121212;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px
}

.section-description {
    color: #707070;
    font-size: 18px;
    margin-bottom: 50px;
}

.donate-taka {
    margin: 5% 20% 5% 20%;
    display: flex;
    justify-content: space-between;
}

.add-tk {
    width: 175px;
    height: 125px;
    background: #FAFAFA;
    padding: 45px 30px;
    border-radius: 5px;
    box-sizing: border-box;
}
.color {
    background-color: #FFEEEE;
    color: #FF5959;
    border: 2px solid #FF5959;
}